<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
    </head>
    <body>
        {% block body %}
            <h1>PRESENTATION</h1>
            <a href="store_product.html.twig">click me !</a>
        {% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
